.jrsqon1{
 background-image:url(../../images/image/bq001.gif)
}
.jrsqoff1{
 background-image:url(../../images/image/bq002.gif)
}

.tabberlive .tabbertab {
 overflow:visible;
 overflow:hidden;
}
.tabberlive .tabbertabhide {
 display:none;
}


.qzxxon{
 background-image:url(../../images/image/bq004.gif)
}
.qzxxoff{
 background-image:url(../../images/image/bq003.gif)
}
.tabberlive .tabbertab {
 overflow:visible;
 overflow:hidden;
}
.tabberlive .tabbertabhide {
 display:none;
}


.zwgkon{
 background-image:url(../../images/image/zwgk_07.gif)
}
.zwgkoff{
 background-image:url(../../images/image/zwgk_09.gif)
}
.tabberlive .tabbertab {
 overflow:visible;
 overflow:hidden;
}
.tabberlive .tabbertabhide {
 display:none;
}

.gzcyon{
 background-image:url(../../images/image/gzcy_05.gif)
}
.gzcyff{
 background-image:url(../../images/image/gzcy_04.gif)
}
.hkon1{
 background-image:url(../../images/image/hk01.gif)
}
.hkoff1{
 background-image:url(../../images/image/hk02.gif)
}
.jhon{
 background-image:url(../../images/image/jh.jpg)
}
.jhoff{
 background-image:url(../../images/image/hk02.gif)
}
.sxon{
 background-image:url(../../images/image/sx.jpg)
}
.sxoff{
 background-image:url(../../images/image/hk02.gif)
}
.jyon{
 background-image:url(../../images/image/jy.jpg)
}
.jyoff{
 background-image:url(../../images/image/hk02.gif)
}
.zfon{
 background-image:url(../../images/image/zf.jpg)
}
.zfoff{
 background-image:url(../../images/image/hk02.gif)
}
.cyon{
 background-image:url(../../images/image/cy.jpg)
}
.cyoff{
 background-image:url(../../images/image/hk02.gif)
}