<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xinxianggov</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CommonServlet</display-name>
    <servlet-name>CommonServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.CommonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServlet</servlet-name>
    <url-pattern>/CommonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginoutServlet</display-name>
    <servlet-name>LoginoutServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.LoginoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginoutServlet</servlet-name>
    <url-pattern>/LoginoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.xinxianggov.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/CheckLoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProfileServlet</display-name>
    <servlet-name>ChangeProfileServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.ChangeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProfileServlet</servlet-name>
    <url-pattern>/ChangeProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeListServlet</display-name>
    <servlet-name>NoticeListServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.NoticeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeListServlet</servlet-name>
    <url-pattern>/NoticeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNoticeServlet</display-name>
    <servlet-name>EditNoticeServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.EditNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNoticeServlet</servlet-name>
    <url-pattern>/EditNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoticeServlet</display-name>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <url-pattern>/DeleteNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllServlet</display-name>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>com.xinxianggov.servlet.AllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>/AllServlet</url-pattern>
  </servlet-mapping>
</web-app>